
body {
    background-color: #08192b; 
    color: snow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    position: relative;
    top: 0%;
    width: 100%; 
    
}
nav h3{
    display: inline;
    font-size: 28px;
    
}
nav div.links{
    
    display: flex;
    list-style-type: none;
    
    text-align: center;
    align-items: center;
    
    
}
div.links a{
    margin-right: 50px;
    text-decoration: none;
    color: snow;
    cursor: pointer;

    
    transition: transform 0.3s ease-out;
    
}
div.links a:hover{
    transform: translateY(-5px);
}

img{
    height:40%;
    width: 40%;
}
#programming{
    display: inline-block;
    height: 30%;
    width: 30%;
}

main div{
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0s;
    
}
main h2{
    display: inline;
    font-size: 45px;
    margin-right: 90px;
    margin-left: 210px;
    
}
@keyframes colorChange{
    0%{color:#70369d;}
    17%{color: #4b369d;} 
    34%{color: #487de7;}
    51%{color: #79c314;}
    68%{color: #faeb36;}
    85%{color: #ffa500;}
    100%{color: #e81416;}

}
span{
    animation: colorChange 10s ease-in 0.2s infinite alternate none running;
}

footer{
    display: block;
    margin-left: 25%;
    font-size: large;
    font-style: italic;
    

}

button{
    display: block;
    background-color: #08192b;
    color:aliceblue;
    margin-left: 50%;
    margin-right: 50%;
    border-style: none;
    font-weight: bold;
    font-size: 15px;
}
